* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0B1120;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

nav h2 {
    color: #00E5FF;
    font-size: 32px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00E5FF;
}

/* GENERAL */

section {
    padding: 100px 80px;
}

h1 {
    color: #00E5FF;
    font-size: 65px;
    margin-bottom: 20px;
    animation: glow 2s infinite alternate;
}

h2 {
    color: #7C3AED;
    margin-bottom: 20px;
}

p {
    color: #CCCCCC;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.about-card {
    max-width: 900px;
    margin: auto;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 60px;
    text-align: center;
}
.about h1 {
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.hero p {
    width: 100%;
    max-width: 700px;
}
button {
    background: #00E5FF;
    color: black;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 25px #00E5FF;
}

/* HERO */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00E5FF;
    box-shadow: 0 0 30px #00E5FF;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    gap: 80px;
}

.content {
    flex: 1;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    width: 350px;
    height: 350px;
}

/* STATS */

.stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0 80px;
    flex-wrap: wrap;
}

.stat-card {
    background: rgba(255,255,255,0.08);
    padding: 20px 40px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.stat-card h2 {
    color: #00E5FF;
}

/* SKILLS */

.skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.skill-card {
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;

    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

.skill-card i {
    font-size: 40px;
    color: #00E5FF;
    margin-bottom: 15px;
}

.skill-card p {
    width: auto;
    margin: 0;
    color: white;
    text-align: center;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00E5FF;
}

/* CARDS */

.project-card,
.edu-card {
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    transition: 0.3s;
}

.project-card:hover,
.edu-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #7C3AED;
}

.project-card p,
.edu-card p {
    width: 100%;
}

/* FORM */

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.08);
    color: white;
}

textarea {
    height: 120px;
}

/* PARTICLES */

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 30px;
    color: #cccccc;
    background: rgba(255,255,255,0.05);
}

/* GLOW */

@keyframes glow {
    from {
        text-shadow: 0 0 10px #00E5FF;
    }

    to {
        text-shadow: 0 0 30px #00E5FF;
    }
}

/* RESPONSIVE */

@media (max-width: 900px) {

    nav {
        flex-direction: column;
        padding: 20px;
    }

    nav ul {
        margin-top: 20px;
    }

    nav ul li {
        margin: 10px;
    }

    section {
        padding: 50px 20px;
    }

    h1 {
        font-size: 45px;
    }

    p,
    .hero p,
    .about p {
        width: 100%;
    }

    .hero {
        flex-direction: column;
    }

    .image img {
        width: 220px;
        height: 220px;
        margin-top: 40px;
    }

    .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats {
        flex-direction: column;
    }

    form {
        width: 100%;
    }
}
.about,
.skills,
.projects,
.education,
.internship,
.certifications,
.contact {
    max-width: 1200px;
    margin: auto;

}
.project-card,
.edu-card {
    width: 100%;
}
.skills h1,
.projects h1,
.education h1,
.internship h1,
.certifications h1,
.contact h1 {
    text-align: center;
}